.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}

.item {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.grey {
  background-color: #f2f2f2;
}

.line:nth-child(even) {
  background-color: #f2f2f2;
}

.line:hover {
  background-color: #ddd;
}
